.entry {
	border: solid black 3px;
	background-color: gray;
	padding:5px;
	margin-bottom: 5px;
}
.entry h1 {
	text-align: center;
}
.example1 * {
	margin: 5px;
	
}
.example1	{
	height: 114px;
	width: 300px;
	padding: 0;
	
	background: #272822;
} 
	.ex1slide	{
		height: 100px;
		width: 100px;
		background: #9ebb27;
		clear: left;
		float: left;
		border: solid  #434343 2px;
		transition: width 0.4s ease-out;
		position: absolute;
		
	}
	.ex1slide:hover {
		width: 286px;
	}
	.slider1 .imgsm {
		width: 80px;
		height: 80px;
		margin: 10px;
		opacity: 1;
		transition: all .4s 0 linear;
		
    	
	}
	.slider1 .imglg {
		width: 280px;
		height: 80px;
		margin: 10px;
		opacity: 0;
		z-index: 1;
		position: absolute;
		left: -8px;
		visibility: hidden;


    	
	}
	.slider1:hover .imgsm {
		opacity: 0;
		
	}
	.slider1:hover .imglg {
		visibility: visible;
		opacity: 1;
		transition: all 0.1s .3s  ease-in;
		
	}

	/*Example number two. light up button.*/

	.button1 {
		display:block;
    	width:100px;
    	height:100px;
    	line-height:100px;
    	text-align: center;
    	background: #7A1F1A;
    	border-radius: 50%;
    	box-shadow: inset 0 -6px 0 0 #5C1F1B;
    	margin: 10px;
    	transition: all 0 0 linear;


	}
	.button1:hover {
		height: 97px;
		box-shadow: inset 0 -3px 0 0 #5C1F1B;
		margin-top: 13px;
		margin-bottom: 10px;
	}
	.button1:active {
		height: 93px;
		margin-top: 17px;
		margin-bottom: 10px;
		width: 97px;
		background: #C72D22;
		box-shadow: 0 0 15px 5px #E8291C;
	}

/*example number 3. expanding image*/

.example3 {
	height: 400px;
	width: 400px;
	position: relative;
	background: gray;
}
.example3 img{
	height: 125px;
	width: 125px;
	top: 0;
	left: 0;
	transition: all 0.3s .2s ease-in;
	
}
.glxy {
	position: absolute;
	top:0;
	left: 0;
}
.glxy:hover {
	height: 400px;
	width: 400px;
	
	font-size: 0px;
	z-index: 2;

}

/*.example3 img:hover {
	height: 400px;
	width: 400px;
	transition: all 0.3s .2s ease-in;
	font-size: 0px;
	z-index: 2;
}*/


.example3 p {
	position: absolute;
	color:	white;
	transition: all 0 0 linear;
	z-index: 1;
	margin-top: 0;
	left: 0;
	font-size: 8px;
}
.example3 span {
	
	top: 0;
	left: 130px;
	color: white;
}

/*example 4 slideshow*/

.slideshow {
	height: 175px;
	width: 172px;
	background: blue;
	position: relative;
	padding: 10px;
	padding-left: 16px;
}
.slideshow img {
	height: 165px;
	width: 162px;
	position: absolute;
	margin: 0;
	
}

.zach {
	transition: .8s 0 linear;
}
.bottles{
	transition: .8s .8s linear;
	
}
.surf {
	transition: .8s 1.6s linear;
}

.slideshow:hover .zach {
	opacity: 0;
}
.slideshow:hover .bottles {
	opacity: 0;
}
.slideshow:hover .surf {
	
	opacity: 0;
}


/*example 5 petal*/

.flower {
	height: 100px;
	width: 50px;
	position: relative;
	background-color: #87EBFF;

}
.stem {
	height: 0px;
	width: 0px;
	
}

.flower:hover .stem {
	height: 55px;
	width: 5px;
	background-color: green;
	bottom: 0;
	left: 22px;
	position: absolute;
	transition: height .2s 0 linear;
	
}
.flower:hover .center {
	height: 15px;
	width: 15px;
	background-color: yellow;
	bottom: 53px;
	margin-left: 17px;
	position: absolute;
	border-radius: 45%;
	transition: all 0s .2s linear;
}

.flower:hover .petal1 {
	height: 20px;
	width: 20px;
	background-color: red;
	bottom: 55px;
	margin-left: 10px;
	position: absolute;
	border-radius: 50%;
	transition: all 0s .3s linear;
}

.flower:hover .petal2 {
	height: 20px;
	width: 20px;
	background-color: orange;
	bottom: 55px;
	margin-left: 20px;
	position: absolute;
	border-radius: 50%;
	transition: all 0s .4s linear;

}

 .flower:hover .petal3 {
	height: 20px;
	width: 20px;
	background-color: orange;
	bottom: 45px;
	margin-left: 10px;
	position: absolute;
	border-radius: 50%;
	transition: all 0s .5s linear;

}

.flower:hover .petal4 {
	height: 20px;
	width: 20px;
	background-color: red;
	bottom: 45px;
	margin-left: 20px;
	position: absolute;
	border-radius: 50%;
	transition: all 0s .6s linear;
}

/*example 6. reactive boxes*/

.boundry {
	height: 60px;
	width: 240px;
	/*margin-top: 10px;*/
	background-color: blue;
	
	
}
.obox {
	height: 60px;
	width: 50px;
	margin: 5px;
	float: left;
	bottom: 0px;
	transition: 0.2s 0 ease;
	
}
.obox:hover {
	margin-top: -10px;

}
.bbox {
	height: 50px;
	width: 50px;
	background-color: red;
}

/*example 7*/

.grow {
	height: 100px;
	width: 100px;
	background-color: yellow;
	position: relative;
}
.grow div {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 50%;
	left: 40px;
	bottom: 40px;
	position: absolute;
	transition: height 		  .5s 0 ease,
				width 		  .5s 0 ease,
				border-radius .2s .2s linear,
				bottom        .5s 0  ease,
				left        .5s 0  ease;
}
.circle:hover {
	height: 100px;
	width: 100px;
	border-radius: 0;
	bottom: 0px;
	left: 0px;
}
/*example 8. youtube button icon*/
.buttonbox  {
	font-family: 'arial', sans-serif;
	height: 20px;
	width: 80px;
	margin-bottom: 10px;
}

.tbox {
	display: inline-block;
	height: 20px;
	width: 45px;
	background-color: red;
	text-align: center;
	border-radius: 7px;
	margin-left: -3px;
	font-family: 'arial', sans-serif;
	color: white;
	border: solid black;
	transition: all .1s 0 ease;
	box-shadow: inset 0 -1px 0 0 black;
}
.tbox:hover {
	background-color: white;
	color: red;
}

.tbox:active {
	height: 17px;
	margin-top: 3px;
	box-shadow: inset 0px 1px 0px 0px black;
	
}

/*example 9*/

.blur {
	height: 165px;
	width: 162px;
	position: relative;
}
.blur span {
	visibility: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	transition: all .2s .4s ease;
}
.blur img {
	height: 165px;
	width: 162px;
	-webkit-transition: all .6s 0 ease;
}
.blur:hover img {
	-webkit-filter: blur(3px);
}
.blur:hover span {
	visibility: visible;
}

/*example 10*/

.bar {
	height: 20px;
	background-color: gray;
	width: 190px;
	margin-top: 10px;
}
.content1, .content2, .content3 {
	visibility: hidden;
}
.more {
	width:	60px;
	height: 30px;
	background-color: white;
	position: absolute;
	transition: all .6s 0 ease;
}
.more span {

}
.more:hover {
	width: 190px;
}
.more:hover .content1 {
	visibility: visible;
	transition: all 0s .2s ease;
}
.more:hover .content2 {
	visibility: visible;
	transition: all 0s .3s ease;
}
.more:hover .content3 {
	visibility: visible;
	transition: all 0s .5s ease;
}




